!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Awaburo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
  %body
    .skinBody
      .skinBody2
        .divskinBody3
          .skinFrame
            %script{:src => "script.js"}
            %header.header
              .header__title
                = link_to "あわぶろ", root_path, class: "header__title--text hover9"
              .header__right
                - if user_signed_in? 
                  = link_to current_user.nickname, user_path(current_user), class: "header__right--btn hover9"
                  = link_to "新規投稿", new_post_path, class: "header__right--btn hover9"
                  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn hover9"
                - else
                  = link_to "ログイン", new_user_session_path, class: "header__right--btn hover9"
                  = link_to "新規登録", new_user_registration_path, class: "header__right--btn hover9"
            .contents
              = yield
              :javascript
                $(function() {
                    var   bgsc1 = 0;
                    var   bgsc2 = 0;
                    var   bgsc3 = 0;
                    var   bgsc4 = 0;
                  setInterval(function() {
                      bgsc1 +=  0;
                      bgsc2 += -2;
                      bgsc3 += -5;
                      bgsc4 += -7;
                      $(".skinBody2").css("background-position", bgsc1 + "px " + bgsc2 + "px");
                      $(".skinBody3").css("background-position", bgsc1 + "px " + bgsc3 + "px");
                      $(".skinFrame").css("background-position", bgsc1 + "px " + bgsc4 + "px");
                  });
                });
